$white: #fff;
$gray: #ccc;
$blue: #11516c;
$orange: #f15c22;
$orange-dark: #e05920;
$green: #689247;
$black: #111;

$blue-highlight-dark: #7fc5e3;
$blue-highlight-light: #a4d6eb;

$screen-width: 1080px;
$screen-height: 1920px;

$logo-width: 530px;
$logo-height: 880px;

// daytime showtimes
$font-size-h1: 45px;
$font-size-showtime: 45px;
$font-size-ampm: 35px;
$font-size-show-special-restriction: 32px;
$font-size-show-title: 44px;
$font-size-btn-label: 40px;
$font-size-footer: 31px;

// unavailable
$out-font-size-h1: 100px;
$out-font-size-p: 60px;

// nightlife showtimes

$nl-bgcolor: #000;
$nl-color-text: #fff;
$nl-color-headers: #fff;

$nl-font-size-h1: 80px;
$nl-font-size-h2: 133px;
$nl-font-size-h3: 40px;
$nl-font-size-show-title: 52px;
$nl-font-size-show-body: 31px;
$nl-font-size-showtimes: 48px;
$nl-font-size-showtimes-ampm: 36px;
$nl-footer-h3: 35px;
$nl-footer-p: 29px;
$nl-sponsor-tag: 27px;
